<!body {
  font-family: Calibri, Calibri;
  background: #f5f5f5;
  padding: 20px;
}

h1 {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  max-width: 1000px;
  margin: auto;
}


.inputs, .output {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 6px;
  margin-top: 4px;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #1e40af;
}

.form-layout {
  display: flex;
  flex-direction: column;
}

#solveBtn {
  order: -1;
  margin-bottom: 20px;
}

.inputs label {
  margin-bottom: 14px;
}

.inputs h2 {
  margin-bottom: 10px;
}

.inputs, .output {
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.header {
  display: flex;
  align-items: left;
  gap: 15px;
  justify-content: center;
  margin-bottom: 30px;
}

.logo {
  height: 30px;
  width: auto;
}

.header.vertical {
  flex-direction: column;
}

.logo {
  height: 48px;
  opacity: 0.95;
}

.output-image {
  display: block;
  margin: 15px auto 20px auto;
  max-width: 100%;
  height: auto;
}

